<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBn2DBLXK3j-OeWXOR_Qj6Yx2Z2Aq_A_ls</string>
	<key>GCM_SENDER_ID</key>
	<string>694759711512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petrol</string>
	<key>PROJECT_ID</key>
	<string>petrol-7cf7a</string>
	<key>STORAGE_BUCKET</key>
	<string>petrol-7cf7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694759711512:ios:ddca383d953d5b595cf46d</string>
</dict>
</plist>